@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.p_orange {
  color: hsl(26, 100%, 55%);
}

.p_page_orange {
  color: hsl(25, 100%, 94%);
}

.n_dark_blue {
  color: hsl(220, 13%, 13%);
}

.n_dark_gray {
  color: hsl(219, 9%, 45%);
}

.n_grayish_blue {
  color: hsl(220, 14%, 75%);
}

.n_light_grayish {
  color: hsl(223, 64%, 98%);
}

.n_white {
  color: hsl(0, 0%, 100%);
}

.n_black {
  color: hsl(0, 75%, 0%);
}

/* Header */

.header_text {
  font-size: 16px;
}

/* Images */

.image_border {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 1.2rem;
  background-color: white;
}
.image_selected {
  opacity: 0.5;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px; /* Aumentar a largura se necessário */
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 1001;
}

/* Imagem principal no modal */
#modalImage {
  max-width: 100%;
  max-height: 70vh; /* Limitar a altura para evitar que ultrapasse a tela */
  border-radius: 10px;
}

/* Posicionamento das miniaturas */
.modal-content .flex {
  margin-top: 20px;
  z-index: 1002; /* Certifique-se de que as miniaturas estejam acima da imagem */
}

/* Posicionando os botões laterais */
.nav-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1003; /* Garantir que os botões fiquem acima de outros elementos */
  border: 1px solid hsl(26, 100%, 55%);
}

.nav-button:hover {
  color: hsl(26, 100%, 55%);
}

.nav-button2 {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1003; /* Garantir que os botões fiquem acima de outros elementos */
  border: 1px solid hsl(26, 100%, 55%);
}

.nav-button2:hover {
  color: hsl(26, 100%, 55%);
}

.prev {
  left: 0px; /* Ajustar a posição para fora da imagem */
}

.next {
  right: -0px; /* Ajustar a posição para fora da imagem */
}

/* Botão de fechar o modal */
.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1003;
}

.close-button:hover {
  color: hsl(26, 100%, 55%);
}

.header_text {
  font-size: 1rem;
  font-weight: bold;
}

/* Estilos responsivos para o cabeçalho */
@media (max-width: 768px) {
  .container {
    width: auto;
    margin: 0 auto;
  }
  header .flex {
    justify-content: space-between;
  }

  nav {
    display: none; /* Esconde o menu na versão mobile */
  }

  #cartModal,
  .md\\:flex {
    display: none; /* Esconde o menu do carrinho no mobile */
  }
}
